<%# This page has connected with some ejs files (header.ejs , footer.ejs).%>
<%# means when we would add new pages in our site then the basic setting remains same for those pages.%>
<%#This is the feature of ejs(embaded java scipt) we can use its template to draw or create multiple pages %> <%# with same template. %>


<%- include("header") -%>
<div class="aboutdetail">
  <h2 > Please try another name.</h2>
  <p style="width: auto;"> This name doesn't exist. Choose a 🆕 name!!</p>
</div>

<%- include("footer") -%>
