<%# This page has connected with some ejs files (header.ejs , footer.ejs).%>
<%# means when we would add new pages in our site then the basic setting remains same for those pages.%>
<%#This is the feature of ejs(embaded java scipt) we can use its template to draw or create multiple pages %> <%# with same template. %>


<%- include("header") -%>

<h2> About Me - Someone Who wants to Play with Coding. </h2>

<%- include("footer") -%>
