<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="style\styles.css">
  <link rel="icon" href="data:;base64,=">
  <!-- <script src="https://kit.fontawesome.com/03e9882df6.js" crossorigin="anonymous"></script> -->
</head>

<body>


<!-- This page is used to add header for website pages
this template is used for all pages in a website (with some include code described in ejs documentation)-->
